<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>☕ CoffeeShop</h5>
                <p>Лучший кофе в городе с 2020 года.</p>
            </div>
            <div class="col-md-4">
                <h5>Навигация</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'catalog' %}">Меню</a></li>
                    <li><a href="{% url 'about' %}">О нас</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p><i class="bi bi-geo-alt"></i> Москва, ул. Кофейная, 1</p>
                <p><i class="bi bi-telephone"></i> +7 (999) 123-45-67</p>
            </div>
        </div>
        <hr style="border-color: #444;">
        <p class="text-center mb-0">2026 CoffeeShop. Все права защищены.</p>
    </div>
</footer>